@tailwind base;

@tailwind components;

@tailwind utilities;

*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

.flex-row-center {
    @apply flex justify-center items-center;
}

.flex-col-center {
    @apply flex flex-col justify-center items-center;
}

.waveBubble {
    @apply flex-col-center rounded-full border border-black w-20 h-20
}

.button {
    @apply flex-row-center rounded bg-gray-500 hover:bg-gray-600 text-white cursor-pointer no-underline px-3 py-1;
}